// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .auth {
    .inner__auth {
      .card {
        width: 60%;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .auth {
    .inner__auth {
      .card {
        width: 50%;
      }
    }
  }

  main {
    .conversation {
      .inner__conversation {
        .message {
          .inner__message {
            max-width: 65%;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .auth {
    .inner__auth {
      .card {
        padding: 25px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}